html,
body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden !important;
    margin: 0px !important;
    padding: 0px !important;
}

* {
    text-decoration: none !important;
}



.nav {

    height: 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    vertical-align: middle;
    padding: 0 25px 0 25px;
    background-image: url(/img/Header.png);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.10);
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    background-blend-mode: overlay;
    position: relative;

}

.logo {
    transform: translate(-30%, 20%);
    padding: 0 10vw 0 10vw;
    height: 12vh;

}


.links a {
    border: 30px;
    margin: 20px;
    font-size: 3vh;
    font-weight: 600;
    color: #000000E5;
    float: left;
}

.links1:hover {
    border-bottom: 3px solid rgb(2, 2, 2);
}

.links2:hover {
    border-bottom: 3px solid rgb(2, 2, 2);
}

.links3:hover {
    border-bottom: 3px solid rgb(2, 2, 2);
}


/* LANDING CSS */

.landing {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15vw 10vw 5vw 10vw;
}

@font-face {
    font-family: 'Nexa';
    src: url('NexaRustSlab.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.landingText h1 {
    font-family: 'Nexa';
    font-size: 4vw;
    margin: 0 !important;
}


#logo {
    font-size: 63px;
    font-family: 'nexa';
    transform: translate(140%, -319%);
    text-decoration: none;
    text-align: center;
}

#sublog {
    font-size: 14px;
    font-family: 'nexa';
    transform: translate(53%, -2400%);
    color: #ED7F17;
    text-align: center;
    white-space: nowrap;

}

.imgwhats {
    transform: translate(10px,10px);
    line-height: 55px;
    max-width: 30px;
    max-height: 25px;
}

#btn1 {
    text-indent: 25px;
    font-weight: bolder;
    color: #000;
    text-decoration: none;
    position: relative;
    text-transform: none;
    box-shadow: none;
    margin: 16px 0px;
    display: flex;
    padding-left: 0px;
    padding-right: 0px;
    transform: translate(-100%, -200%);
    line-height: 45px;
    box-sizing: border-box;
    width: 232px;
    height: 60px;
    background: #FFFFFF;
    border: 4px solid #E85910;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    flex: none;
    order: 0;
    flex-grow: 0;

}

#btn2 {
    text-indent: 25px;
    font-weight: bolder;
    text-decoration: none;
    color: #000;
    position: relative;
    text-transform: none;
    box-shadow: none;
    margin: 16px 0px;
    display: flex;
    padding-left: 0px;
    padding-right: 0px;
    line-height: 45px;
    box-sizing: border-box;
    width: 232px;
    height: 60px;
    background: #FFFFFF;
    border: 4px solid #E85910;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    transform: translate(-100%, -200%);
    flex: none;
    order: 0;
    flex-grow: 0;
}

#btn3 {
    text-indent: 25px;
    font-weight: bolder;
    text-decoration: none;
    color: #000;
    position: relative;
    text-transform: none;
    box-shadow: none;
    margin: 16px 0px;
    display: flex;
    padding-left: 0px;
    padding-right: 0px;
    line-height: 45px;
    box-sizing: border-box;
    width: 232px;
    height: 60px;
    background: #FFFFFF;
    border: 4px solid #E85910;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    transform: translate(-100%, -200%);
    flex: none;
    order: 0;
    flex-grow: 0;
}

#btn4 {
    text-indent: 25px;
    font-weight: bolder;
    text-decoration: none;
    color: #000;
    position: relative;
    text-transform: none;
    box-shadow: none;
    margin: 16px 0px;
    display: flex;
    padding-left: 0px;
    padding-right: 0px;
    line-height: 45px;
    box-sizing: border-box;
    width: 232px;
    height: 60px;
    background: #FFFFFF;
    border: 4px solid #E85910;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    transform: translate(-100%, -200%);
    flex: none;
    order: 0;
    flex-grow: 0;

}

#band {
    max-width: 50px;
    left: 50%;
    transform: translate(-1400%, 15%);
    text-decoration: none;
    position: absolute;
}

#band2 {
    max-width: 10px;
    transform: translate(-1500%, 82%);
    text-decoration: none;
    position: absolute;
}

#band3 {
    max-width: 50px;
    left: 50%;
    transform: translate(1200%, 5%);
    text-decoration: none;
    position: absolute;
}

#band4 {
    max-width: 50px;
    left: 50%;
    transform: translate(1000%, -95%);
    text-decoration: none;
    position: absolute;
}

#band5 {
    max-width: 50px;
    left: 50%;
    transform: translate(1100%, -45%);
    text-decoration: none;
    position: absolute;
}

#retangulolocal {
    transform: translate(188%, 5%);
    Width: 360px;
    Height: 550px;
    border-radius: 50px;
    border: 4px solid #ED7F17;
    filter: drop-shadow(9px 10px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50px;
    box-sizing: border-box;
    position: absolute;
}



.landingImage img {
    position: relative;
    box-sizing: border-box;
    border-radius: 50px;
    width: 360px;
    height: 554px;
    text-align: center;
    filter: drop-shadow(0px 16px 16px rgba(0, 0, 0, 0.41));
    border-radius: 50px;
}

.link-alloy {
    margin-top: 20px;
    padding: 3px 10px 2px;
    border: 1.5px solid #000;
    border-radius: 30px;
    background-color: transparent;
    opacity: .7;
    color: #000;
    font-size: 12px;
    text-decoration: none;
}

.div-block-715 {
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 13px;
    text-align: center;
}

/* SOBRE CSS */

#sobre {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 100px;
    text-align: center;
    display: flex;
    position: relative;

}

#propietarios {
    transform: translate(3%, 1%);
    height: 550px;
    width: 450px;
    filter: drop-shadow(9px 10px 4px rgba(0, 0, 0, 0.25));
    background: url(/img/propietarios.jpg) no-repeat;
    border-radius: 40px;
    position: relative;

}

#retanguloprop {
    transform: translate(7%, 25px);
    height: 550px;
    width: 450px;
    border-radius: 50px;
    border: 4px solid #000000;
    filter: drop-shadow(9px 10px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50px;
    box-sizing: border-box;
    position: absolute;
}

ol {
    list-style: none;

}

li p {
    font-size: 1.2vh;
    color: #000;
    padding: 0 30px 0 35px;
    line-height: 25px;
    opacity: 0.6;
}

.historia {
    font-size: 25px;
    line-height: 42px;
    font-weight: bolder;
    text-align: center;

}

#nossaHistoria {
    font-family: 'Nexa';
    font-size: 5vw;
    margin: 0 !important;
    text-align: center;
}

/* INFO_SECTION CSS */

.infoSection {
    padding: 80px;
    height: 780px;
    position: relative;
}

.infoCards {

    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px 0 40px 0;
    position: relative;
}

.cardone {

    position: relative;
    Width: 350px;
    Height: 380px;
    background-image: url(/img/fmignon4.png);
    box-shadow: 0 10px 22px rgba(0, 0, 0, 0.09), 0 10px 10px rgba(0, 0, 0, 0.09);
    border-radius: 50px;

}

.retangulolocalone {
    transform: translate(120%, 7%);
    Width: 350px;
    Height: 380px;
    border-radius: 50px;
    border: 4px solid #E85910;
    filter: drop-shadow(9px 10px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50px;
    box-sizing: border-box;
    position: absolute;
}

.cardtwo {

    position: relative;
    Width: 350px;
    Height: 380px;
    background-image: url(/img/alcatra.png);
    box-shadow: 0 10px 22px rgba(0, 0, 0, 0.09), 0 10px 10px rgba(0, 0, 0, 0.09);
    border-radius: 50px;


}

.retangulolocaltwo {
    transform: translate(7%, 7%);
    Width: 350px;
    Height: 380px;
    border-radius: 50px;
    border: 4px solid #E85910;
    filter: drop-shadow(9px 10px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50px;
    box-sizing: border-box;
    position: absolute;
}

.cardthree {
    position: relative;
    Width: 350px;
    Height: 380px;
    background-image: url(/img/costela.png);
    box-shadow: 0 10px 22px rgba(0, 0, 0, 0.09), 0 10px 10px rgba(0, 0, 0, 0.09);
    border-radius: 50px;


}

.retangulolocalthree {
    transform: translate(-107%, 7%);
    Width: 350px;
    Height: 380px;
    border-radius: 50px;
    border: 4px solid #E85910;
    filter: drop-shadow(9px 10px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50px;
    box-sizing: border-box;
    position: absolute;
}

#destaques {
    background: radial-gradient(50% 50% at 50% 50%, rgba(237, 127, 23, 0.7) 0%, rgba(237, 127, 23, 0) 100%);
    font-family: 'Nexa';
    font-size: 5vw;
    margin: 0 !important;
    text-align: center;
}

.txtdestaque {
    font-family: 'NEXA';
    font-size: 45px;
    text-align: center;
    transform: translate(7%, 385px);

}

/* Banner */

.banner {
    height: 210px;
    background-color: #E85910;
    display: flex;
    flex-direction: row;
    padding: 40px;
    justify-content: space-evenly;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
}

.bannerText h1 {
    font-family: 'Nexa';
    text-align: center;
    font-size: 3vw;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

/*scrollbar*/
body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #E85910;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid rgb(255, 255, 255);
    /* creates padding around scroll thumb */
}

/* FOOTER CSS */

.footer {
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: #000;


}

.footerlinks a {
    text-decoration: none;
    margin: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    text-align: center;
}

.footerlinks .mainlink {
    color: #ED7F17;
    text-decoration: none;

}

.footer-loja-online {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 13px;
    text-align: center;
}

.vat img {
    transform: translateX(680%);
    width: 80px;
    position: fixed;
	text-decoration: none;
	text-shadow: 0.7px 0.7px black;
	padding-bottom: 15px;
	bottom: 5px;

}

.vat:active {
	background: green;
}
/* RESPONSIVE */


@media only screen and (max-width: 700px) {

    .logo {
        display: none;

    }

    .links {
        display: none;
    }

    .nav {
        flex-direction: column;
        justify-content: space-around;
        padding: 45px;
        height: auto;
        overflow-y: hidden;
        background-image: url(/img/Header.png);

    }

    /* LANDING PAGE */

    .landing {
        display: flex;
        flex-direction: column-reverse;
        height: 500px;
        width: 300px;
    }

    #logo {
        font-size: 60px;
        transform: translate(5%, -310%);
    }

    #sublog {
        font-weight: bolder;
        font-size: 15px;
        transform: translate(7%, -1250%);

    }

    #btn {
        margin: 80px;
        transform: translate(105%, 120%);
    }

    #band2 {
        transform: translate(40%, -1500%);

    }

    .landingImage {
        display: none;
    }

    /* SOBRE */



    .sobre {
        margin-top: 80px;
        float: left;
        margin: bottom 0;
        font-size: 10px;
    }

    #propietarios {
        background-size: cover;
        max-width: 340px;
        max-height: 460px;
        transform: translate(-23%, 10%);
    }

    #retanguloprop {
        width: 340px;
        height: 460px;
        transform: translate(-18%, 15%);
    }

    #nossaHistoria {
        transform: translate(-160%, -95%);
        text-align: center;
        line-height: normal;
        font-size: 45px;
    }

    .historia {
        padding: 0;
        margin: 0;
        height: 900px;
        font-size: 25px;
        transform: translate(-160%, 50%);
        text-align: center;
        line-height: normal;

    }


    .infoSection {
        height: 800px;
        position: inherit;
    }

    #destaques {
        font-size: 35px;
    }

    .cardone {
        flex-direction: column;
        justify-content: center;
        height: 180px;
        width: 250px;
        align-items: center;
        text-align: center;
        transform: translate(35%, 10%);
        background-size: cover;

    }

    .cardtwo {
        flex-direction: column;
        justify-content: center;
        height: 180px;
        width: 200px;
        align-items: center;
        text-align: center;
        transform: translate(-60%, 150%);
        background-size: cover;

    }

    .cardthree {
        flex-direction: column;
        justify-content: center;
        height: 180px;
        width: 170px;
        align-items: center;
        text-align: center;
        transform: translate(-150%, 270%);
        background-size: cover;
    }

    .txtdestaque {
        transform: translate(130%, 10%);
        font-size: 24px;
    }

    .retangulolocalone {
        display: none;
    }

    .retangulolocaltwo {
        display: none;
    }

    .retangulolocalthree {
        display: none;
    }

    .infoCards {
        margin-bottom: 60px;
    }

    /* BANNER */
    .banner {
        height: 50%;
        flex-direction: column-reverse;
        padding: 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .banner h1 {
        font-size: 6vw;
    }

    .bannerInnerText {
        font-size: 3vw !important;
    }

    .bannerText img {
        width: 8vw;
    }

    /* FOOTER */



    .footer-loja-online {
        height: 500px;
        font-size: 13px;
        text-align: center;
    }
}