html,
body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden !important;
    margin: 0px !important;
    padding: 0px !important;
}

* {
    text-decoration: none !important;
}


.logo {

    padding: 0 10vw 0 10vw;
    height: 10vh;
}


.nav {
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 25px 0 25px;
    background-image: url(/img/Header.png);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.10);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-blend-mode: overlay;

}

.links a {
    border-radius: 30px;
    margin-right: 25px;
    font-size: 3vh;
    font-weight: 600;
    color: #000000E5;
    float: left;
}


/* LANDING CSS */

.landing {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15vw 10vw 5vw 10vw;
}

@font-face {
    font-family: 'Nexa';
    src: url('NexaRustSlab.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.landingText h1 {
    font-family: 'Nexa';
    font-size: 4vw;
    margin: 0 !important;
}

#logo {
    font-size: 10vh;
    font-family: 'nexa';
    transform: translate(145%, -340%);
    text-decoration: none;
    text-align: center;
}

#sublog {
    font-size: 18px;
    font-family: 'nexa';
    transform: translate(60%, -650%);
    color: #ED7F17;
    text-align: center;

}

#btn {
    max-width: 230px;
    left: 50%;
    transform: translate(-50%, -20%);
    text-decoration: none;

}

#band {
    max-width: 50px;

    left: 50%;
    transform: translate(-40%, -200%);
    text-decoration: none;
}

#band2 {
    max-width: 10px;
    transform: translate(-3%, -230%);
    text-decoration: none;
}

#retangulolocal {
    transform: translate(580px, 12px);
    Width: 543px;
    Height: 667px;
    border-radius: 50px;
    border: 5px solid #ED7F17;
    filter: drop-shadow(9px 10px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50px;
    box-sizing: border-box;
    position: absolute;
}

.landingText a {
    text-align: center;
    font-size: 1.5vw;
    color: #fff;
}

.landingImage img {
    box-sizing: border-box;
    border-radius: 50px;
    width: 505.26px;
    height: 674px;
    text-align: center;
    filter: drop-shadow(0px 16px 16px rgba(0, 0, 0, 0.41));
    border-radius: 50px;
}

.link-alloy {
    margin-top: 20px;
    padding: 3px 10px 2px;
    border: 1.5px solid #000;
    border-radius: 30px;
    background-color: transparent;
    opacity: .7;
    color: #000;
    font-size: 12px;
    text-decoration: none;
}

.div-block-715 {
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 13px;
    text-align: center;
}

/* SOBRE CSS */

#sobre {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 100px;
    text-align: center;
    display: flex;
    position: relative;

}

#propietarios {
    transform: translate(3%, -5%);
    height: 600px;
    width: 450px;
    filter: drop-shadow(9px 10px 4px rgba(0, 0, 0, 0.25));
    background: url(/img/propietarios.jpg) no-repeat;
    border-radius: 50px;
    position: relative;

}

#retanguloprop {
    transform: translate(7%, -15px);
    height: 600px;
    width: 450px;
    border-radius: 50px;
    border: 5px solid #000000;
    filter: drop-shadow(9px 10px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50px;
    box-sizing: border-box;
    position: absolute;
}

ol {
    list-style: none;

}

li p {
    font-size: 1.5rem;
    color: #000;
    padding: 0 30px 0 35px;
    line-height: 25px;
    opacity: 0.6;
}


.historia {
    font-size: 31px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: center;

}

#nossaHistoria {
    font-family: 'Nexa';
    font-size: 5vw;
    margin: 0 !important;
    text-align: center;
}

/* INFO_SECTION CSS */

.infoSection {
    height: 700px;
}


.infoCards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px 0 40px 0;
}

.infoCards .card {

    position: relative;
    height: 440px;
    width: 359px;
    background-image: url(/img/filemignon.jpg);
    box-shadow: 0 10px 22px rgba(0, 0, 0, 0.09), 0 10px 10px rgba(0, 0, 0, 0.09);
    border-radius: 50px;
    background-size: cover;
    box-sizing: border-box;

}

.cardContent h2 {
    font-weight: 600;
}

.cardContent {
    line-height: 30px;

}


/* Banner */

.banner {
    height: 210px;
    background-color: #E85910;
    display: flex;
    flex-direction: row;
    padding: 40px;
    justify-content: space-evenly;
    text-align: center;
    color: rgb(255, 255, 255);
}

.bannerText h1 {
    font-family: 'Nexa';
    text-align: center;
    font-size: 3vw;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

/*scrollbar*/
body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #ED7F17;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid rgb(255, 255, 255);
    /* creates padding around scroll thumb */
}

/* FOOTER CSS */

.footer {
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.1);

}

.footerlinks a {

    margin: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    text-align: center;
}

.footerlinks .mainlink {
    color: #ED7F17;
}


/* RESPONSIVE */


@media only screen and (max-width: 580px) {
    .logo {
        display: flex;
        flex-direction: row;
        justify-content: left;
        width: auto;
    }

    .nav {
        flex-direction: column;
        justify-content: space-around;
        padding: 1px;
        height: auto;
        overflow-y: hidden;
    }




    /* LANDING PAGE */

    .landing {
        display: flex;
        flex-direction: column-reverse;
        height: 999px;
        width: 300px;
        justify-content: center;
        text-align: center;
    }

    .landingText h1 p {
        font-size: 7vw;
        margin: 0 !important;
    }

    .landingText h2 p {
        font-size: 16px;
    }

    .landingText .btn {
        margin: 0 auto;
    }

    .landingText .btn a {
        font-size: 1vw;
    }

    /* ABOUT */



    .aboutText {
        padding: 0 50px;
        height: 100px;
    }

    .aboutText h1 {
        left: 40px;
        font-size: 5vw;
    }

    .aboutText img {
        width: 16px;
        top: 10px;
        left: 20px;
    }

    .aboutList {
        position: sticky;
        margin-left: -60px;
        margin-top: 80px;
        float: left;
        margin: bottom 0;
        font-size: 160px;
    }


    .infoSection {
        height: 10px;
        position: inherit;
        text-align: center;
    }

    .infoHeader {
        text-align: center;
    }

    .infoCards {
        display: flex;
        flex-direction: column-reverse;
        padding: 50px;
        justify-content: center;
        align-items: center;
        text-align: center
    }

    .infoCards .card {
        margin-bottom: 60px;
    }

    .banner {
        height: 50%;
        flex-direction: column-reverse;
        padding: 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .banner h1 {
        font-size: 6vw;
    }

    .bannerInnerText {
        font-size: 3vw !important;
    }

    .bannerText img {
        width: 8vw;
    }



    .footer {
        padding-bottom: 10px;
    }

}