html,
body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden !important;
    margin: 0px !important;
    padding: 0px !important;
}

* {
    text-decoration: none !important;
}

.logo {

    padding: 0 10vw 0 10vw;
    height: 10vh;
}

.whats {
    /* Font & Text */
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 26.25px;
    text-decoration: none solid rgb(0, 0, 0);
    text-align: center;
    text-indent: 0px;
    text-transform: none;
    vertical-align: middle;
    white-space: normal;
    word-spacing: 0px;

    /* Color & Background */
    background-attachment: scroll;
    background-color: rgb(255, 255, 255);
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    color: rgb(0, 0, 0);

    /* Box */
    height: 88.25px;
    width: 260px;
    border: 2px solid rgb(0, 0, 0);
    border-top: 2px solid rgb(0, 0, 0);
    position: relative;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    float: none;
    display: flex;
    clear: none;
    z-index: auto;

    /* List */
    list-style-image: none;
    list-style-type: disc;
    list-style-position: outside;

    /* Table */
    border-collapse: separate;
    border-spacing: 0px 0px;
    caption-side: top;
    empty-cells: show;
    table-layout: auto;

    /* Miscellaneous */
    overflow: visible;
    cursor: pointer;
    visibility: visible;

    /* Effects */
    transform: none;
    transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s, border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    outline: 1px;
    outline-offset: 0px;
    box-sizing: border-box;
    resize: none;
    text-shadow: none;
    text-overflow: clip;
    word-wrap: normal;
    box-shadow: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}



.nav {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 0 25px;
    background-color: #ED7F17;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.10);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nav .links a {
    border-radius: 30px;
    margin-right: 25px;
    font-size: 22px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.nav .links .mainlink {
    color: rgb(255, 255, 255);
    border-radius: 30px;

}

.nav h4 {
    font-size: 22px;
    font-weight: bold;
    margin-left: 25px;
}

#propietarios {
    width: 300px;
}

/* LANDING CSS */

.landing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15vw 10vw 0 10vw;
    height: 100vh;
}

.landingText h1 {
    font-size: 5vw;
    margin: 0 !important;
}

.btn,
.cidade {
    /* Font & Text */

    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 26.25px;
    text-decoration: none solid rgb(0, 0, 0);
    text-align: center;
    text-transform: none;
    word-spacing: 0px;
    align-items: center;

    /* Color & Background */
    background-attachment: scroll;
    background-color: rgb(255, 255, 255);
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    color: rgb(0, 0, 0);

    /* Box */
    height: 88.25px;
    width: 260px;
    border: 2px solid rgb(0, 0, 0);
    border-top: 2px solid rgb(0, 0, 0);
    float: none;
    display: flex;
    clear: none;
    z-index: auto;



    /* Table */
    border-spacing: 0px 0px;
    caption-side: top;
    empty-cells: show;
    table-layout: auto;

    /* Miscellaneous */
    overflow: visible;
    cursor: pointer;
    visibility: visible;

    /* Effects */

    outline-offset: 0px;
    box-sizing: border-box;
    resize: none;
    text-shadow: none;
    text-overflow: clip;
    word-wrap: normal;
    box-shadow: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.landingText .btn a {
    font-size: 1.2vw;
    color: #fff;
}

.landingImage img {
    width: 28vw;
}

.link-alloy {
    margin-top: 20px;
    padding: 3px 10px 2px;
    border: 1.5px solid #000;
    border-radius: 30px;
    background-color: transparent;
    opacity: .7;
    color: #000;
    font-size: 12px;
    text-decoration: none;
}

.div-block-715 {
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 13px;
    text-align: center;
}

/* SOBRE CSS */

.sobre {
    height: 500px;
    padding: 9vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.aboutText {
    position: relative;
    padding: 0 50px;
    height: inherit;
}

.aboutText h1 {
    position: relative;
    left: 110px;
}

.aboutText img {
    position: absolute;
    top: 70px;
}

.aboutList {
    width: 50%;
}

ol {
    list-style: none;

}

ol li {
    font-size: 14px;
    position: relative;
    margin-bottom: 10px;
}

li p {
    font-size: 1.1rem;
    color: #000;
    padding: 0 30px 0 30px;
    line-height: 25px;
    opacity: 0.6;
}

li span {
    position: absolute;
    line-height: 5px;
}

/* INFO_SECTION CSS */

.infoSection {
    height: 700px;
}

.infoHeader {
    font-family: 'roboto';
    text-align: center;
    margin-bottom: 4px;
}

.infoCards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0 40px 0;
}

.infoCards .card {
    position: relative;
    height: 440px;
    width: 359px;
    background: #fff;
    box-shadow: 0 10px 22px rgba(0, 0, 0, 0.09), 0 10px 10px rgba(0, 0, 0, 0.09)
}

.infoCards .one .cardoneImg {
    width: 180px;
    position: absolute;
    top: -50px;
    right: -50px;
}

.infoCards .two .cardtwoImg {
    width: 158px;
    position: absolute;
    top: -50px;
    right: -50px;

}

.infoCards .three .cardthreeImg {
    width: 150%;
    position: absolute;
    top: -50px;
    right: -50px;
    background-size: contain;
}

.cardbgone {
    height: 150px;
    background-image: url(/img/filemignon.jpg);
    background-size: cover;
}

.cardbgtwo {
    height: 150px;
    background-image: url(/img/alcatra.jpeg);
    background-size: cover;
}

.cardbgthree {
    height: 150px;
    background-image: url(/img/mtqueijo.jpg);
    background-size: cover;

}

.cardContent {
    padding: 0 20px;
}

.cardContent h2 {
    font-weight: 600;
}

.cardContent {
    line-height: 30px;
    opacity: 0.6
}

.cardContent .cardBtn:hover {
    background-color: #ffffff;
}



/* Banner */

.banner {
    height: 95px;
    background-color: #ED7F17;
    display: flex;
    flex-direction: row;
    padding: 40px;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
}

.bannerText h1 {
    text-align: center;
    font-size: 2vw;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

/*scrollbar*/
body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #ED7F17;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid rgb(255, 255, 255);
    /* creates padding around scroll thumb */
}

/* FOOTER CSS */

.footer {
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.1);

}



.footerlinks a {

    margin: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    text-align: center;
}

.footerlinks .mainlink {
    color: #ED7F17;
}


/* RESPONSIVE */


@media only screen and (max-width: 600px) {
    .logo {
        display: flexbox;
        flex-direction: row;
        justify-content: left;
        height: 50px;
        width: auto;
    }

    .nav {
        flex-direction: column;
        justify-content: space-around;
        padding: 10px;
        height: auto;
        overflow-y: hidden;
    }


    #propietarios {
        background-size: contain;
        background-color: transparent;
    }

    /* LANDING PAGE */

    .landing {
        display: flex;
        flex-direction: column-reverse;
        height: 999px;
        width: 300px;
        align-items: baseline;
        justify-content: center;
        text-align: center;
    }

    .landingText h1 p {
        font-size: 7vw;
        margin: 0 !important;
    }

    .landingText h2 p {
        font-size: 16px;
    }

    .landingText .btn {
        margin: 0 auto;
    }

    .landingText .btn a {
        font-size: 1vw;
    }

    /* ABOUT */

    .sobre,
    .historia {
        height: auto;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 50px fit-content;
        grid-column-gap: 10px;
        grid-template-columns: 1fr;
    }

    .aboutText {
        padding: 0 50px;
        height: 100px;
    }

    .aboutText h1 {
        left: 40px;
        font-size: 5vw;
    }

    .aboutText img {
        width: 16px;
        top: 10px;
        left: 20px;
    }

    .aboutList .historia {
        position: sticky;
        margin-left: -60px;
        margin-top: 80px;
        float: left;
        margin: bottom 0;
    }


    .infoSection {
        height: auto;
    }

    .infoHeader {
        text-align:center;
        margin: 40px 0;
    }

    .infoCards {
        display: flex;
        flex-direction: column-reverse;
        padding: 50px;
        justify-content: center;
        align-items: center;
        text-align: center
    }

    .infoCards .card {
        margin-bottom: 60px;
    }

    .banner {
        height: 50%;
        flex-direction: column-reverse;
        padding: 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .banner h1 {
        font-size: 6vw;
    }

    .bannerInnerText {
        font-size: 3vw !important;
    }

    .bannerText img {
        width: 8vw;
    }



    .footer {
        padding-bottom: 10px;
    }

}